#body {
#  background: #f2f2f2 url('bg.png');
#}

body {
  padding-top: 100px;
}

@media (max-width: 979px) {
  body {
    padding-top: 100px;
  }
}


.sipkavpravo {
  margin: 11;
  padding: 11;
  border: 0;
  background: none;
  font-size: 90%;
  vertical-align: baseline;
  color: inherit;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

